$window-bg-color: #f6f6f6;
$window-bg-image: none;
$window-bg-repeat: no-repeat;

/* deprecated since V2 - start */
$header-bg-image: none;
$header-bg-position: center;
/* deprecated end */

$header-bg-color: #e0e0e0;
$header-alignment: space-between;
$header-text-color: #000000;

$desktop-layout-delimiter: 640px;
$page-font: helvetica, arial, sans-serif;

$question-bg-color: #ffffff;
$question-border-color: #a8a8a8;
$question-font-color: #000000;
$question-instruction-color: #a8a8a8;

$control-primary-color: #eeeeee;
$control-secondary-color: $question-border-color;
$control-active-color: #42bdd1;
$control-head-color: #bbbbbb;
$control-head-font-color: #ffffff;

$back-button-border-color: #a8a8a8;
$back-button-bg-color: #fff;
$back-button-font-color: #a8a8a8;

$next-button-border-color: #42bdd1;
$next-button-bg-color: #42bdd1;
$next-button-font-color: #fff;

$progress-color: #d5d5d5;
$progress-indicator-color: #42bdd1;