@import "_style_bundle_variables.scss";

$error-color: #fcc;
$error-text-color: #f00;
$error-border-color: #f00;

$error-tost-bg-color: #f00;
$error-tost-font-color: #ffffff;


/* Layout */
$min-width: 320px;
$max-width: 1280px;

$delimiter-mobile: 480px;
$delimiter-tablet: 1024px;

$padding-mobile: 10px;
$padding-tablet: 16px;
$padding-desktop: 24px;

$answer-group-border-width: 4px;

$font-size: 16px;
$control-size: 1.8em;
$border-radius: 0px;