.cf-gb-single {
  &__scale-label-panel {
    margin-bottom: 1em;
  }

  &__scale-texts-panel {
    margin-bottom: 1em;
  }

  &__scale {
    flex: 1 0 auto;
  }

  &__non-scored-list {
    margin-top: 1em;
  }
}