.cf-checkbox-answer {
  display: flex;
  cursor: pointer;

  &__control {
    flex: 0 0 auto;
  }

  &__content {
    flex: 1 1 auto;
    min-width: 1px;
    margin-left: .8em;
  }

  &__text {
    margin-top: calcTopOffsetForAlignment($control-size, 1.4em);
  }

  &__other {
    width: 15em;
  }

  &--disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.cf-checkbox-answer--rtl .cf-checkbox-answer__content{
  margin-left: 0;
  margin-right: 0.8em;
}