.cf-ranking-answer {
  display: flex;
  align-content: stretch;
  background-color: $control-primary-color;
  cursor: pointer;

  &__rank {
    position: relative;
    flex: 0 0 auto;
    width: 3em;
    min-height: 3em;
    margin: 2px 6px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $question-bg-color;
    color: $control-secondary-color;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 8px;
      height: 8px;
      background-color: $question-bg-color;
      transform: translate(50%, -50%) rotate(45deg);
    }
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0 1em;
    display: flex;
    align-items: center;
  }

  &__text {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__other-input {
    width: 15em;
    max-width: 90%;
    font-size: inherit;
    text-overflow: ellipsis;

    cursor: pointer;
  }

  &--selected {
    color: $control-active-color;
    background-color: $control-active-color;

    .cf-ranking-answer__rank {
      color: inherit;
    }

    .cf-ranking-answer__text {
      color: $question-bg-color;
    }

    .cf-ranking-answer__other-input {
      color: $question-bg-color;
      background: rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid $question-bg-color;
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.cf-ranking-answer--rtl {
  .cf-ranking-answer__rank {
    margin: 2px 2px 2px 6px;

    &::after {
      right: auto;
      left: 0;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.cf-ranking-answer-other {
  margin-top: 0.25em;
}

.cf-ranking-status {
  @include visually-hidden;
}

.cf-ranking-status--rtl {
  right: -9999px;
  left: auto;
}