.cf-question--login {
  .cf-login {
    max-width: 15.6em;
    &__field {
      margin-bottom: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--user-name .cf-login__field-icon {
        background-image: svg-url('<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle fill="#{$back-button-font-color}" stroke-width="0" cx="50" cy="50" r="49"></circle><path fill="#{$question-bg-color}" stroke-width="0" d="M 20.757 70.851 C 40.062 56.398 59.878 56.449 79.286 71.005 C 79.286 71.005 51.962 105.428 20.757 70.851 Z"></path><circle fill="#{$question-bg-color}" stroke-width="0" cx="50" cy="32" r="17"></circle></svg>');
      }

      &--password .cf-login__field-icon {
        background-image: svg-url('<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><rect stroke="null" fill="#{$back-button-font-color}" x="15" y="36.5457" width="70" height="59.4543" rx="8" ry="8" stroke-width="0"/><path fill="none" stroke-width="8px" d="m29.87968,36.55055c-0.00671,-27.5475 11.26472,-29.63716 19.84132,-29.78055c8.5766,-0.14339 20.28852,5.24007 20.29628,29.78363" id="svg_2" stroke="#{$back-button-font-color}"/> <circle fill="#{$question-bg-color}" cx="50" cy="64" r="8"/></svg>');
      }
    }

    &__field-input {
      flex: 1 1 auto;
      min-width: 0px;
      margin-left: 0.6em;
      margin-right: 0.6em;
    }

    &__field-icon {
      height: $control-size;
      width: $control-size;
      background-size: cover;
      background-repeat: no-repeat;
      flex: 0 0 auto;
    }
  }
}

