.cf-dropdown {
  width: 30em;
  max-width: 100%;
  padding: 0 2em 0 0.5em;
  border: none;
  height: $control-size + 0.2;

  font-family: inherit;
  font-size: inherit;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  &::-ms-expand { display: none; }

  background-color: $control-primary-color;
  background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M1 5 L10 15 L19 5" stroke="#{$control-active-color}" stroke-width="2" fill="transparent"/></svg>');
  background-position: right 0.5em center;
  background-size: auto;
  background-repeat: no-repeat;

  cursor: pointer;

  &--error {
    border-bottom: 1px solid $error-border-color;
  }
}

.cf-dropdown--rtl {
  padding: 0 0.5em 0 2em;
  background-position: left 0.5em center;
}
