$border-width: .3em;

.cf-image {
  cursor: pointer;
  display: flex;

  &__element {
    min-width: 1px;
  }

  &__element--hovered,
  &__element--selected {
    display: none;
  }

  &--selected{
    .cf-image__element--selected {
      display: block;
    }
    .cf-image__element--default{
      display: none;
    }
  }

  &:hover {
    .cf-image__element--default {
      display: none;
    }

    &:not(.cf-image--selected) .cf-image__element--hovered {
      display: block;
    }
  }

  &--partial, &--partial-exclusive {
    cursor: pointer;
    border-radius: $border-width;
    box-shadow: inset 0 0 0 $border-width $question-border-color;
    padding: $border-width;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s;

    &:after {
      content: '';
      display: block;
      margin: $border-width;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
      background: #ffffff;
      opacity: 0;
      transition: opacity .3s;
      pointer-events: none;
    }

    &:hover, &.cf-image--selected {
      box-shadow: inset 0 0 0 $border-width $control-active-color;

      &:after {
        opacity: .5;
      }
    }
  }

  &--flexible {
    align-items: flex-start;

    .cf-image__element {
      max-width: 100%;
    }
  }
}



