.cf-radio {
  height: $control-size;
  width: $control-size;
  background-color: $control-primary-color;
  border-radius: 50%;
  cursor: pointer;

  &--selected {
    background: $control-active-color;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $question-bg-color;
      transform: scale(0.33);
    }
  }
}

.cf-radio--small {
  height: $control-size - .4em;
  width: $control-size - .4em;
}