$input_padding: 0.5em;

@mixin text_input_common {
  width: 30em;
  max-width: 100%;

  border-radius: $border-radius;
  border: none;
  border-bottom: 1px solid $control-secondary-color;

  background-color: $control-primary-color;

  font-size: inherit;
  text-overflow: ellipsis;

  &--error {
    border-color: $error-border-color;
  }

  &--no-limit {
    width: auto;
  }
}

.cf-text-box {
  @include text_input_common;
  @include placeholder {
    color: inherit;
    opacity: 0.5;
  }

  padding: 0 $input_padding;
  padding-top: 1px;
  line-height: $control-size + 0.2;
  height: $control-size + 0.2;

  &:focus {
    background-color: $question-bg-color;
    border-color: $control-active-color;
  }

  &--text-aligned {
    margin-left: -$input_padding;
  }

  &--number {
    text-align: right;
    width: 10em;
  }

  &--date {
    width: auto;
    min-width: 8em;
  }

  &--rank-by-number {
    width: 2.7em;
    text-align: right;
  }
}

.cf-text-area {
  @include text_input_common;
  padding: $input_padding;

  &:focus {
    border-color: $control-active-color;
  }

  resize: both;
}

.cf-text-box--rtl {
  &.cf-text-box--text-aligned {
    margin-right: -$input_padding;
  }

  &.cf-text-box--number {
    text-align: left;
  }
}