.cf-collapsible-group {
  margin-bottom: 1em;

  &__body {
    margin-top: 1em;
  }

  &__short-info {
    color: $control-active-color;
    font-size: .9em;
    font-weight: bold;
    padding: 0 2.2em;
    margin-top: 1em;

    &--hidden {
      display: none;
    }

    &:empty{
      margin-top: 0em;
    }

    &-separator:after{
      content: "|";
      display: inline-block;
      margin: 0 .5em;
    }
  }
}

