// Error list in global page error toast and in standard local error block
.cf-error-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Standard local error
.cf-error-block {
  font-size: ($font-size - 2);
  padding: 0.5em 0;
  margin: 0;
  color: $error-text-color;

  // Modifiers
  &--top {
    margin-top: 0;
    margin-bottom: 0.5em;
    border-top: none;
    border-bottom: 1px solid $error-border-color;
  }

  &--bottom {
    margin-top: 0.5em;
    margin-bottom: 0;
    border-top: 1px solid $error-border-color;
    border-bottom: none;
  }

  &--absolute-bottom,
  &--absolute-top {
    width: 100%;
    background: rgba($question-bg-color, 0.8);
    position: absolute;
  }
  &--absolute-top {
    @extend .cf-error-block--top;
    bottom: 100%;

  }
  &--absolute-bottom {
    @extend .cf-error-block--bottom;
    top: 100%;
  }

  &--hidden {
    display: none;
  }
}