.cf-grid-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__row {
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $desktop-layout-delimiter) {
  .cf-grid-layout {
    &__row {
      margin-bottom: 2em;
      flex-direction: column;
      align-items: stretch;

      &-text {
        flex: 1 1 auto;
        align-self: stretch;
        width: auto;
        max-width: none;
        margin-right: 0;
        margin-bottom: 1em;

        &--right {
          flex-shrink: 1;
          margin-left: 0;
          margin-bottom: 0;
          margin-top: 1em;
        }
      }

      &-control {
        flex: 1 0 auto;
      }
    }
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-grid-layout {
    &__row {
      margin-bottom: 1em;
      flex-direction: row;
      align-items: flex-start;

      &-text {
        flex: 0 0 auto;
        width: 30%;
        max-width: 260px;
        margin-right: 2em;

        &--right {
          flex-shrink: 1;
          margin-right: 0;
          margin-left: 2em;
        }
      }

      &-text-other {
        margin-left: -0.5em;
      }

      &-control {
        flex: 0 1 auto;
        min-width: 1px; // 1px instead of 0px due to fix ie11 bug
      }
    }

    &--right-text .cf-grid-layout__row-text {
      width: 25%;
    }
  }
}

.cf-grid-layout--stretched {
  .cf-grid-layout__row-control {
    flex-grow: 1;
  }
}

.cf-grid-layout--rtl .cf-grid-layout {
  @media (max-width: $desktop-layout-delimiter) {
    &__row-text {
      margin-left: 0;

      &--right {
        margin-left: 0;
      }
    }
  }

  @media (min-width: $desktop-layout-delimiter + 1) {
    &__row-text {
      margin-right: 0;
      margin-left: 2em;

      &--right {
        margin-right: 2em;
        margin-left: 0;
      }
    }
    &__row-text-other {
      margin-left: 0;
      margin-right: -0.5em;
    }
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-grid-layout--multi-columns {
    display: -ms-grid;
    display: grid;

    grid-auto-flow: column;
    grid-column-gap: 5%;


    .cf-grid-layout__row {
      min-width: 0;
    }

    .cf-grid-layout__row-text {
      margin-right: 0.5em;
    }
  }
}

@include ie-only-wrapper {
  @media (min-width: $desktop-layout-delimiter + 1) {
    .cf-grid-layout__row {
      margin-right: 10%;
    }
  }
}