.cf-group-heading {
  margin-left: -($padding-desktop + $answer-group-border-width);

  &:not(:last-child) {
    margin-top: 0.5em;
    margin-bottom: 2.4em;
  }

  &__title {
    color: $control-head-color;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    border-width: $answer-group-border-width;
    border-color: $control-head-color;
    border-left-style: solid;
    padding-left: ($padding-desktop - 4px);
  }
}

@media (max-width: $delimiter-tablet) {
  .cf-group-heading {
    margin-left: -($padding-tablet + $answer-group-border-width);

    &__content {
      padding-left: ($padding-tablet - $answer-group-border-width / 2);
      border-width: $answer-group-border-width / 2;
    }
  }
}

@media (max-width: $delimiter-mobile) {
  .cf-group-heading {
    margin-left: -($padding-mobile + $answer-group-border-width);

    &__content {
      padding-left: ($padding-mobile - $answer-group-border-width / 2);
    }
  }
}

.cf-group-heading--rtl {
  margin-left: 0;
  margin-right: -($padding-desktop + $answer-group-border-width);
  .cf-group-heading__content {
    margin-left: 0;
    padding-left: 0;
    margin-right: 4px;
    border-left-style: none;
    border-right-style: solid;
    padding-right: ($padding-desktop - 4px);
  }

  @media (max-width: $delimiter-tablet) {
    margin-left: 0;
    margin-right: -($padding-tablet + $answer-group-border-width);

    .cf-group-heading__content__content {
      padding-left: 0;
      padding-right: ($padding-tablet - $answer-group-border-width / 2);
    }
  }

  @media (max-width: $delimiter-mobile) {

    margin-left: 0;
    margin-right: -($padding-mobile + $answer-group-border-width);

    .cf-group-heading__content {
      padding-left: 0;
      padding-right: ($padding-mobile - $answer-group-border-width / 2);
    }
  }
}





