$outline-gap: 4px;
$outline-gap-in-em: 0.25em;

.cf-question {
  padding: $padding-desktop;
  margin-bottom: $padding-desktop * 2;
  border: 1px solid $question-border-color;
  border-radius: $border-radius;
  background-color: $question-bg-color;

  &:last-child {
    margin-bottom: 0;
  }

  &__title,
  &__text,
  &__instruction,
  &__error {
    margin-bottom: 1em;
  }

  &__title {
    margin-top: 1em;
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
  }

  &__text {
    font-weight: bold;
  }

  &__instruction {
    font-style: italic;
    color: $question-instruction-color;
  }

  &__content {
    overflow: auto;
    margin: (2em - $outline-gap-in-em) (-$outline-gap) (-$outline-gap) (-$outline-gap);
    $horizontal-padding: $padding-desktop + $answer-group-border-width + $outline-gap;
    padding: $outline-gap-in-em $horizontal-padding $outline-gap $horizontal-padding;
  }

  &--error {
    border-color: $error-border-color;
  }
}

@media (max-width: $delimiter-tablet) {
  .cf-question {
    padding: $padding-tablet;
    margin-bottom: $padding-tablet * 2;

    &__content {
      $horizontal-padding: $padding-tablet + $answer-group-border-width + $outline-gap;
      padding-left: $horizontal-padding;
      padding-right: $horizontal-padding;
    }
  }
}

@media (max-width: $delimiter-mobile) {
  .cf-question {
    padding: $padding-mobile;
    margin-bottom: $padding-mobile * 2;

    &__content {
      $horizontal-padding: $padding-mobile + $answer-group-border-width + $outline-gap;
      padding-left: $horizontal-padding;
      padding-right: $horizontal-padding;
    }
  }
}


.cf-question__content--no-padding {
  padding-left: $outline-gap;
  padding-right: $outline-gap;
}

@media (max-width: $desktop-layout-delimiter) {
  .cf-question__content--mobile {
    display: block;
  }
  .cf-question__content--desktop {
    display: none;
  }
}

@media (min-width: $desktop-layout-delimiter + 1) {
  .cf-question__content--mobile {
    display: none;
  }
  .cf-question__content--desktop {
    display: block;
  }
}