.cf-searchable-question {
  display: flex;
  overflow: hidden;

  &__answers-column {
    border: 1px solid $question-border-color;
  }

  &__selected-answers-column {
    border: 1px solid $question-border-color;
    background-color: $question-bg-color;
  }

  &__other-answers,
  &__exclusive-answers {
    border-top: .5em solid $control-primary-color;
  }


  &__title {
    display: flex;
    height: 4em;
    align-items: center;
    padding: 0 1em;
    background: $control-primary-color;
  }

  &__answer-list-wrapper {
    margin: 1em;
  }

  &__answer-list-wrapper--filtered-answers {
    height: 10 * 2.8em + 2.4em;
    overflow-y: auto;
  }

  &__filtered-answer-list {
    margin-bottom: 1em;
  }

  &__search {
    flex: 1 1 auto;
    width: auto;
    min-width: 4em;
    padding-left: 2em;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><circle cx="9" cy="9" r="5" stroke="#{$control-secondary-color}" stroke-width="2" fill="transparent" /><line x1="18" y1="18" x2="12" y2="12" stroke="#{$control-secondary-color}" stroke-width="2" /></svg>');
    background-size: 1.4em;
    background-repeat: no-repeat;
    background-position: 0.3em center;
  }

  &__selected-count--in-search-panel {
    cursor: pointer;
  }

  &__expand,
  &__collapse {
    width: 2em;
    height: 2em;
    cursor: pointer;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__expand {
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polyline points="6 2 14 10 6 18" stroke="#{$question-font-color}" stroke-width="2" fill="transparent" /></svg>');
  }

  &__collapse {
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><polyline points="14 2 6 10 14 18" stroke="#{$question-font-color}" stroke-width="2" fill="transparent" /></svg>');
  }

  &__selected-count {
    margin: 1em;
    width: 1.5em;
    height: 1.5em;
    flex: 0 0 auto;
    border-radius: 50%;
    font-size: .8em;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    color: $question-bg-color;
    background-color: $control-active-color;
  }

  &__load-more {
    display: none;
    max-width: 20em;
    padding: .5em 1em;
    background: $control-secondary-color;
    color: $question-bg-color;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
  }

  &__no-result {
    display: none;
    text-align: center;
    margin-bottom: 1em;
  }

  &__loader {
    display: none;
    justify-content: center;
    align-items: center;
    height: 2.4em;
  }

  &__selected-answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__selected-answer-text {
  }

  &__selected-answer-remove {
    width: 2em;
    height: 2em;
    flex: 0 0 auto;
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><circle cx="10" cy="10" r="9" fill="#{$control-secondary-color}" /><line x1="6" y1="6" x2="14" y2="14" stroke="#{$question-bg-color}" stroke-width="2" /><line x1="6" y1="14" x2="14" y2="6" stroke="#{$question-bg-color}" stroke-width="2" /></svg>');
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

.cf-searchable-question--has-more-answers {
  .cf-searchable-question__load-more {
    display: block;
  }
}

.cf-searchable-question--loading {
  .cf-searchable-question__loader {
    display: flex;
  }
}

.cf-searchable-question--no-result {
  .cf-searchable-question__no-result {
    display: block;
  }
}

@media (min-width: $delimiter-tablet + 1) {
  .cf-searchable-question {
    &__answers-column {
      flex: 1 1 70%;
    }

    &__selected-answers-column {
      flex: 1 1 30%;
      border-left: none;
    }

    &__title--filtered-answers {
      background: none;
    }

    &__expand,
    &__collapse {
      display: none;
    }

    &__selected-count--in-search-panel {
      display: none;
    }
  }
}

@media (max-width: $delimiter-tablet) {
  .cf-searchable-question {
    &__answers-column {
      flex: 0 0 100%;
      min-width: 100%;
    }

    &__selected-answers-column {
      flex: 0 0 100%;
      left: 100%;
      transition: all 300ms;
    }

    &__expand,
    &__collapse {
      display: block;
    }

    &__search {
      background-color: $question-bg-color;
    }
  }

  .cf-searchable-question--selected-answers-expanded {
    .cf-searchable-question__selected-answers-column {
      transform: translateX(-100%);
    }
  }
}

.cf-searchable-question--rtl {
  .cf-searchable-question {
    &__expand, &__collapse {
      transform: rotate(180deg);
    }

    &__search {
      background-position: right 0.3em center;
      padding-left: 0;
      padding-right: 2em;
    }

    @media (min-width: $delimiter-tablet + 1) {
      &__selected-answers-column {
        border-left: 1px solid $question-border-color;
        border-right: none;
      }
    }
  }

  @media (max-width: $delimiter-tablet) {
    &.cf-searchable-question--selected-answers-expanded {
      .cf-searchable-question__selected-answers-column {
        transform: translateX(100%);
      }
    }
  }
}
