.cf-numeric-slider-question {
  display: flex;
  flex-direction: row;
  align-items: normal;

  &__slider-wrapper {
    flex: 1 1 400px;
    min-width: 100px;
  }

  &__input-wrapper {
    flex: 0 1 auto;
    min-width: 3em;
    margin-top: 1.70em;
    display: flex;
  }

  &__input {
    flex: 0 1 5em;
    min-width: 3em;
    width: 5em;
  }

  &__input-prefix, &__input-suffix {
    flex: 0 0 auto;
    height: 1.4em;
    line-height: 1.4em;
    margin-top: 0.2em;
  }

  &__input-prefix {
    text-align: right;
    padding-right: 0.5em;
  }

  &__input-suffix {
    text-align: left;
    padding-left: 0.5em;
  }

  &__labels {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
  }

  &__label--min-value,
  &__label--max-value {
    flex: 0 1 auto;
  }

  &__label--max-value {
    margin-left: auto;
  }
}

.cf-numeric-slider-question--horizontal {
  max-width: 640px;


  .cf-numeric-slider-question__slider-wrapper {
    margin-right: $cf-slider__track-no-value-margin;
    flex: 1 1 15em;
  }

  .cf-numeric-slider-question__labels {
    margin-left: $cf-slider__track-no-value-margin;
  }
}

.cf-numeric-slider-question--horizontal-rtl {
  @extend .cf-numeric-slider-question--horizontal;

  .cf-numeric-slider-question__slider-wrapper {
    margin-left: $cf-slider__track-no-value-margin;
    margin-right: 0;
  }

  .cf-numeric-slider-question__labels {
    margin-right: $cf-slider__track-no-value-margin;
    margin-left: 0;
  }

  .cf-numeric-slider-question__label--max-value {
    margin-left: 0;
    margin-right: auto;
  }
}

.cf-numeric-slider-question--vertical {
  align-items: center;

  .cf-numeric-slider-question__slider-wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
  }

  .cf-numeric-slider-question__labels {
    flex-direction: column;
    min-height: 300px;
    margin-top: $cf-slider__track-no-value-margin;
  }

  .cf-numeric-slider-question__slider {
    margin-right: $cf-slider__track-no-value-margin;
  }

  .cf-numeric-slider-question__label--max-value {
    margin-left: 0;
    margin-top: auto;
  }
}

.cf-numeric-slider-question--vertical-rtl {
  @extend .cf-numeric-slider-question--vertical;

  .cf-numeric-slider-question__slider {
    margin-left: $cf-slider__track-no-value-margin;
    margin-right: 0;
  }
}